:root {
  /* colors */
  --white: #fff;
  --green: #2d6179;
  --glow: #32a8b640;
  --overlay: #32a8b680;
  --gray: #5a5a5a;
  --input-border: #00000033;

  /* font sizes */
  --root-font-size: 15px;
  font-size: var(--root-font-size);

  /* font-families */
  --font-family: "Signika", sans-serif;

  /* font weight */
  --regular: 400;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  margin: 0;
}

/* Main  */
main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("./assets/images/background-image.png");
  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;

  border-radius: 12px;
  background-color: white;
  padding: 20px;
}

.login {
  height: 530px;
  width: 442px;
}

.forgot {
  height: 440px;
  width: 442px;
}

.create-account {
  align-items: start;
  justify-content: center;
  height: 641px;
  width: 883px;
}

.container img {
  height: 70px;
  width: 70px;
}

#profile-picture {
  height: 158px;
  width: 369px;
}

.left-container,
.right-container {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.logo-title {
  display: flex;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.sign-up {
  flex-direction: row;
}

fieldset input {
  width: 369px;
  height: 59px;
  border-radius: 12px;
  border: 1px solid var(--input-border);
  padding: 10px;
}

fieldset input:focus {
  outline: 1px solid var(--green);
  box-shadow: 0px 0px 10px 2px var(--glow);
}

.submit-button {
  background-color: var(--green);
}

.login-page-options {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.forgot-password-options {
  text-align: center;
}

.overlay {
  border-image-source: linear-gradient(var(--overlay), var(--overlay));
  border-image-slice: fill 1;
}

/* Font styling */
h1 {
  font-weight: var(--regular);
}

fieldset label {
  color: var(--gray);
}

.submit-button {
  color: var(--white);
  font-family: var(--font-family);
  font-size: 1.35rem;
}

.login-page-options a,
.forgot-password-options a {
  color: var(--green);
  text-decoration: none;
  font-size: 0.9rem;
}
