:root {
  /* colors */
  --white: #fff;
  --green: #2d6179;
  --glow: #32a8b640;
  --overlay: #32a8b680;
  --gray: #5a5a5a;
  --input-border: #00000033;

  /* font sizes */
  --root-font-size: 15px;
  font-size: var(--root-font-size);

  /* font-families */
  --font-family: "Signika", sans-serif;

  /* font weight */
  --regular: 400;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  margin: 0;
}

/* Main  */
main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("./assets/images/background-image.png");
  background-size: cover;
}

.container {
  border-radius: 12px;
  background-color: white;
  padding: 20px;
}

.form-fieldset input {
  width: 369px;
  height: 59px;
  border-radius: 12px;
  border: 1px solid var(--input-border);
  padding: 10px;
}

.form-fieldset label {
  width: 369px;
}

.form-fieldset input:focus {
  outline: 1px solid var(--green);
  box-shadow: 0px 0px 10px 2px var(--glow);
}

.form-fieldset .submit-button {
  cursor: pointer;
  background-color: var(--green);
}

/* Hover effects */

.form-fieldset .submit-button:hover {
  background-color: #3a80a0;
}

.container a:hover {
  color: #3a80a0;
}

/* End of hover effects */

/* Start of container size */

.container.login {
  height: 530px;
  width: 442px;
}

.container.sign-up {
  height: 641px;
  width: 883px;
}

.container.forgot {
  height: 440px;
  width: 442px;
}

.container.reset {
  height: 530px;
  width: 442px;
}

/* End of container size */

/* Start of Sign up page */

.sign-up-form-left,
.sign-up-form-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#profile-picture-input {
  border: none;
}

#profile-picture-input:focus {
  outline: none;
  box-shadow: none;
}

#profile-upload-wrapper {
  border-radius: 12px;
  border: 2px dashed var(--input-border);
  padding: 10px;
  height: 158px;
  width: 369px;
}

#upload-instruction {
  margin: 0;
}

/* End of sign up page */

/* Start of Special classes */

.overlay {
  border-image-source: linear-gradient(var(--overlay), var(--overlay));
  border-image-slice: fill 1;
}

.flex-center-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.no-border {
  border: none;
}

.gap {
  gap: 36px;
}

.flex {
  display: flex;
}

.flex-space-between {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

/* End of special classes */

/* Images */
#form-logo {
  height: 70px;
  width: 70px;
}

#profile-picture-default {
  height: 100px;
  width: 100px;
}

/* End of images */

/* Start of Font styling */
h1#form-heading {
  font-weight: var(--regular);
}

.form-fieldset label {
  color: var(--gray);
}

.submit-button {
  color: var(--white);
  font-family: var(--font-family);
  font-size: 1.35rem;
}

.container a {
  color: var(--green);
  text-decoration: none;
  font-size: 0.9rem;
}

/* End of font styling */
