:root {
  /* colors */
  --white: #fff;
  --green: #2d6179;
  --glow: #32a8b640;
  --overlay: #32a8b680;
  --gray: #5a5a5a;
  --black-gray: #000000b2;
  --gray-text: #9e9e9e;
  --input-border: #00000033;
  --background-color: #fbfeff;

  /* font sizes */
  --root-font-size: 15px;
  font-size: var(--root-font-size);

  /* font-families */
  --font-family: "Signika", sans-serif;
  --inter: "Inter", sans-serif;

  /* font weight */
  --regular: 400;
  --semi-bold: 700;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family);
  margin: 0;
}

/* Main  */
main {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 10px 10px;

  background-image: url("./assets/images/background-image.png");
  background-size: cover;
}

.form-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border-radius: 12px;
  background-color: white;
  padding: 20px 20px 30px;
  width: 100%;
}

/* Start of container size */

.container.login {
  max-width: 350px;
}

.container.sign-up {
  max-width: 660px;
}

.container.forgot {
  max-width: 350px;
}

.container.reset {
  max-width: 350px;
}

#login-form,
#forgot-password-form,
#sign-up-form,
#reset-password-form,
.form-fieldset label {
  width: 100%;
}

/* End of container size */

fieldset {
  padding: 0;
}

.form-fieldset input {
  width: 100%;
  border-radius: 7px;
  border: 1px solid var(--input-border);
  padding: 12px;
}

.form-fieldset .submit-button {
  cursor: pointer;
  background-color: var(--green);
  margin-bottom: 10px;
}

/* Start of Sign up page */

.logo-heading {
  align-items: center;
  margin-bottom: 20px;
}

#sign-up-form {
  margin-bottom: 10px;
}

#sign-up-form .form-fieldset {
  flex-wrap: wrap;
  justify-content: space-between;
}

.sign-up-form-left,
.sign-up-form-right {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#profile-upload-wrapper {
  border-radius: 7px;
  border: 2px dashed var(--input-border);
  padding: 10px;
  height: 158px;
}

#upload-instruction {
  margin: 0;
}

#img-view {
  text-align: center;
}

/* End of sign up page */

/* Start of navbar styling */

header {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.nav-wrapper {
  width: 80%;
  max-width: 1120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  max-width: 700px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  max-width: 370px;
  width: 80%;
}

nav > ul > li {
  display: block;
}

.auth-buttons {
  display: flex;
}

.ghost-button,
.solid-button {
  border-radius: 50px;
  padding: 15px 40px;
}

.ghost-button {
  border: 1px solid var(--green);
}

.solid-button {
  background-color: var(--green);
}

.auth-buttons .ghost-button {
  margin-right: 20px;
}

.mobile-auth {
  display: none;
}

/* End of navbar */

/* Hamburger menu */
#menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

#menu-icon {
  width: 36px;
  height: 25px;
}

/* End of hamburger menu */

/* Hero section */
#hero {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
}

.hero-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  max-width: 1120px;
}

.hero-left,
.hero-right {
  width: 50%;
}

#hero .solid-button {
  margin-right: 20px;
}

.rtms-container {
  border: 1px solid var(--input-border);
  border-radius: 50px;
  padding: 10px 20px;
  max-width: 312px;
  width: 80%;
  margin: 44px 0 20px;
  background-color: #d9d9d933;
  text-align: center;
  font-size: clamp(0.8rem, 2.5vw, 1rem);
}

.hero-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero-img {
  width: 90%;
}

/* End of hero section */

/* Images */
#form-logo {
  height: 70px;
  width: 70px;
}

#profile-picture-default {
  height: 100px;
  width: 100px;
}

#uploaded-picture {
  margin-top: 4px;
  height: 130px;
  width: 130px;
}

#nav-logo {
  height: 70px;
  width: 70px;
  margin-right: 20px;
}

/* End of images */

/* Effects */

.form-fieldset .submit-button:hover {
  background-color: #3a80a0;
}

.container a:hover {
  color: #3a80a0;
}

.form-fieldset input:focus {
  outline: 1px solid var(--green);
  box-shadow: 0px 0px 10px 2px var(--glow);
}

/* End of hover effects */

/* Start of Special classes */

.overlay {
  border-image-source: linear-gradient(var(--overlay), var(--overlay));
  border-image-slice: fill 1;
}

.flex-center-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.no-border {
  border: none;
}

.gap {
  gap: 14px;
}

.flex {
  display: flex;
}

.flex-space-between {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

/* End of special classes */

/* Start of Font styling */
h1#form-heading {
  font-weight: var(--regular);
  font-size: clamp(1.5rem, 2.5vw, 1.65rem);
  margin: 10px 0;
}

.form-fieldset label {
  color: var(--gray);
}

.submit-button {
  color: var(--white);
  font-family: var(--font-family);
  font-size: 14px;
}

.container a {
  color: var(--green);
  text-decoration: none;
  font-size: 0.9rem;
}

label {
  font-size: 13px;
}

header h1 {
  font-size: clamp(1.14rem, 2.5vw, 1.5rem);
  font-weight: var(--regular);
}

nav > ul > li > a {
  text-decoration: none;
  color: var(--gray-text);
  font-size: 16px;
}

.ghost-button,
.solid-button {
  text-decoration: none;
  font-size: 16px;
}

.ghost-button {
  color: var(--green);
}

.solid-button {
  color: var(--white);
}

.hero-title,
.hero-description {
  font-family: var(--inter);
}

.hero-title {
  font-size: 3rem;
  font-weight: var(--semi-bold);
  color: var(--black-gray);
  line-height: 70px;
  margin: 0 0 20px 0;
}

.hero-description {
  font-size: 1.3rem;
  color: #9f9a9a;
  line-height: 35px;
  margin: 0 0 48px 0;
}

/* End of font styling */

/* Media queries */
@media (max-width: 647px) {
  .sign-up-form-left,
  .sign-up-form-right {
    width: 100%;
    align-items: center;
  }

  .form-fieldset input,
  .form-fieldset label,
  #picture-upload-container,
  .sign-up-options input {
    max-width: 100%;
    width: 100%;
  }

  #sign-up-form .form-fieldset {
    max-height: 430px;
    overflow-y: scroll;
    gap: 10px;
  }

  .sign-up-options {
    width: 100%;
    text-align: center;
  }

  #sign-up-form fieldset {
    padding: 0 10px;
  }

  .logo-heading {
    justify-content: center;
  }
}

@media (max-width: 1200px) {
  .ghost-button,
  .solid-button {
    padding: 10px 20px;
  }

  .auth-buttons .ghost-button {
    margin-right: 10px;
  }

  .auth-buttons {
    max-width: 190px;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  header {
    height: 80px;
  }

  .nav-wrapper {
    width: 90%;
  }

  nav {
    width: auto;
  }

  #menu {
    display: flex;
  }

  .nav-menu {
    height: 100vh;
    width: 250px;

    background-color: var(--green);
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    padding: 40px 0 0 20px;
    position: fixed;
    top: 80px;
    right: -250px;
    margin: 0;
    transition: 0.3s ease-in-out;
  }

  .nav-menu.active {
    right: 0px;
  }

  .mobile-auth {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
  }

  .nav-menu a {
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
  }

  .auth-buttons {
    display: none;
  }

  #nav-logo {
    height: 50px;
    width: 50px;
    margin-right: 15px;
  }

  .hero-wrapper {
    width: 90%;
  }

  .hero-left,
  .hero-right {
    width: 100%;
  }

  .hero-title {
    line-height: 45px;
    font-size: 2rem;
    margin: 0;
  }

  .hero-description {
    font-size: 1rem;
    margin: 0 0 45px 0;
  }

  .rtms-container {
    margin: 10px 0 10px 0;
  }

  #hero .solid-button {
    margin-right: 5px;
  }
}
/* End of media queries */
